
/* Barra de navegacion */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
 
.parte1{
    display: flex;
    justify-content: space-between;
    background-color:darkgrey;
    width: auto;
    height: 30px;
}

.parte1 > img{
    width: auto;
    height: 11px;
    margin-top: 9px;
    margin-left: 150px;
}

.logo_inicio{
    display: flex;
    gap: 5px;
    margin-right: 150px;
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 27px;
}

.logo_inicio > img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.logo_inicio > ul > li > a{
    color:white;
    text-decoration: none;
}

.parte2 > img{
    height: 50px;
    width: auto;
}

.parte2{
    display: flex;
    gap: 20px;
    background-color: blue;
}

.parte2_1 > ul > li{
    display: flex;
    gap: 20px;
}
    
