* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.todomas {
    width: 100%;
}

.TODO{
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;


}
.inicio{
    background-color: blue;
    align-items: center;
}

.imagencentral img {
    width: 100%;
}